In [2]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import requests
import pandas as pd
def get_data_request(sql_download, cloud):
    

    # Создание строки подключения для SQLAlchemy
    connection_string = f'mysql+pymysql://{cloud[0]}:{cloud[1]}@{cloud[2]}/{cloud[3]}?charset=utf8'
    print(connection_string)
    engine = create_engine(connection_string)
    

    # Использование контекстного менеджера для безопасного открытия и закрытия соединения
    with engine.connect() as connection:
        df = pd.read_sql_query(text(sql_download), connection).fillna('')
        
        return df

In [3]:

import os
from time import sleep

from smb.SMBConnection import SMBConnection
from smb.SMBConnection import SMBConnection, OperationFailure

def save_file_to_dbs(path_from, path_to):
    
    host, user, password = connect_db('DBS')
    conn = SMBConnection(username=user, password=password, my_name="Alexander Brezhnev", remote_name="samba", use_ntlm_v2=True)

    sleep(5)

    if conn.connect(host, 445):
        print('connection ok!')
        with open(path_from, 'rb') as my_file:
            print('file_to_save', my_file) 
            conn.storeFile('dbs', path_to, my_file)
            print('save done')
            
    conn.close()

In [4]:
import pandas as pd

ptv_nasha = ['^5^', '^6^', '^3^', '^10^', '^11^', '^19^', ]
ptv_ne_nasha = ['^5_15^', '^5_16^', '^5_17^', '5_18^', '^5_19^', '^5_20^', '^5_21^',
                '^6_15^', '^6_16^', '^6_17^', '6_18^', '^6_19^', '^6_20^', '^6_21^',
                '^3_15^', '^3_16^', '^3_17^', '3_18^', '^3_19^', '^3_20^', '^3_21^',
                '^10_15^', '^10_16^', '^10_17^', '10_18^', '^10_19^', '^10_20^', '^10_21^',
                '^11_15^', '^11_16^', '^11_17^', '11_18^', '^11_19^', '^11_20^', '^11_21^',
                '^19_15^', '^19_16^', '^19_17^', '19_18^', '^19_19^', '^19_20^', '^19_21^']

def region(row):
    if any(w in row['ptv_c'] for w in ptv_nasha):
        return 'ptv_1'
    elif any(w in row['ptv_c'] for w in ptv_ne_nasha):
        return 'ptv_2'
    else:
        return row['region_c']
def date_1(row):
    if row['datecall'] == 0:
        return row['date_entered']
    return row['datecall']
def queue(row):
    if row['queue'] == 0:
        return row['last_queue_c']
    else:
        return row['queue']
def destination_queue(row):
    if row['destination_queue'] == 0:
        return row['last_queue_c']
    else:
        return row['destination_queue']
def meet_proect(row):
    if row['proect'] in {'RTK', 'RTK LIDS','TELE2'}:
        return 'RTK'
    elif row['proect'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['proect'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['proect'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['proect'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['proect'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
def check_team_project(row):
    if row['team_project'] in {'RTK', 'RTK LIDS'}:
        return 'RTK'
    elif row['team_project'] in {'TELE2','TELE2 LIDS'}:
        return 'TELE2'
    elif row['team_project'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['team_project'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['team_project'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['team_project'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['team_project'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
# def meet_proect_final(row):
#     if row['team_project'] == '0':
#         return row['proect']
#     elif row['check_team_project'] == row['module']:
#         return row['team_project']
#     elif row['check_team_project'] == row['team_project']:
#         return row['team_project']
#     else:
#         return row['proect']

def meet_proect_final(row):
    if row['team_project'] == '0':
        return row['proect']
    elif row['check_team_project'] == row['module']:
        return row['team_project']
    elif row['check_team_project'] != row['module']:
        return row['module']
    elif row['check_team_project'] == row['team_project']:
        return row['team_project']
    else:
        return row['proect']

In [5]:
import pandas as pd

ptv_nasha = ['^5^', '^6^', '^3^', '^10^', '^11^', '^19^', ]
ptv_ne_nasha = ['^5_15^', '^5_16^', '^5_17^', '5_18^', '^5_19^', '^5_20^', '^5_21^',
                '^6_15^', '^6_16^', '^6_17^', '6_18^', '^6_19^', '^6_20^', '^6_21^',
                '^3_15^', '^3_16^', '^3_17^', '3_18^', '^3_19^', '^3_20^', '^3_21^',
                '^10_15^', '^10_16^', '^10_17^', '10_18^', '^10_19^', '^10_20^', '^10_21^',
                '^11_15^', '^11_16^', '^11_17^', '11_18^', '^11_19^', '^11_20^', '^11_21^',
                '^19_15^', '^19_16^', '^19_17^', '19_18^', '^19_19^', '^19_20^', '^19_21^']

def region(row):
    if any(w in row['ptv_c'] for w in ptv_nasha):
        return 'ptv_1'
    elif any(w in row['ptv_c'] for w in ptv_ne_nasha):
        return 'ptv_2'
    else:
        return row['region_c']
def date_1(row):
    if row['datecall'] == 0:
        return row['date_entered']
    return row['datecall']
def queue(row):
    if row['queue'] == 0:
        return row['last_queue_c']
    else:
        return row['queue']
def destination_queue(row):
    if row['destination_queue'] == 0:
        return row['last_queue_c']
    else:
        return row['destination_queue']
def meet_proect(row):
    if row['proect'] in {'RTK', 'RTK LIDS','TELE2'}:
        return 'RTK'
    elif row['proect'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['proect'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['proect'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['proect'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['proect'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
def check_team_project(row):
    if row['team_project'] in {'RTK', 'RTK LIDS'}:
        return 'RTK'
    elif row['team_project'] in {'TELE2','TELE2 LIDS'}:
        return 'TELE2'
    elif row['team_project'] in {'TTK', 'TTK LIDS'}:
        return 'TTK'
    elif row['team_project'] in {'DOMRU', 'DOMRU LIDS', 'DOMRU Dop'}:
        return 'DOMRU'
    elif row['team_project'] in {'MTS', 'MTS LIDS'}:
        return 'MTS'
    elif row['proect'] in {'GULFSTREAM','GULFSTREAM LIDS'}:
        return 'GULFSTREAM'
    elif row['team_project'] in {'NBN', 'NBN LIDS'}:
        return 'NBN'
    elif row['team_project'] in {'BEELINE', 'BEELINE LIDS'}:
        return 'BEELINE'
    else:
        return 'DR'
# def meet_proect_final(row):
#     if row['team_project'] == '0':
#         return row['proect']
#     elif row['check_team_project'] == row['module']:
#         return row['team_project']
#     elif row['check_team_project'] == row['team_project']:
#         return row['team_project']
#     else:
#         return row['proect']

def meet_proect_final(row):
    if row['team_project'] == '0':
        return row['proect']
    elif row['check_team_project'] == row['module']:
        return row['team_project']
    elif row['check_team_project'] != row['module']:
        return row['module']
    elif row['check_team_project'] == row['team_project']:
        return row['team_project']
    else:
        return row['proect']

In [6]:
import pandas as pd
import glob2 as glob
import os


def team_project_1():
    path = '/root/airflow/dags/project_defenition/projects/teams'
    files = glob.glob(path + "/*.csv")
    project_team = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))
    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # project_team = project_team.append(df)
        project_team = pd.concat([project_team,df])
    del df

    project_team['team'] = project_team['team'].fillna(0).astype('int').astype('str')
    project_team = project_team.rename(columns={'project': 'team_project'})
    project_team['date'] = project_team['date'].astype('str')
    project_team['team'] = project_team['team'].astype('str')

    project_team['RN'] = project_team.groupby(['team', 'date']).cumcount() + 1
    project_team = project_team[project_team['RN'] == 1][['team', 'team_project', 'date']]

    return project_team


def queue_project():
    path = '/root/airflow/dags/project_defenition/projects/queues'
    files = glob.glob(path + "/*.csv")
    project_queue = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))

    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # project_queue = project_queue.append(df)
        project_queue = pd.concat([project_queue,df])
    del df

    project_queue = project_queue.rename(columns={'Проект (набирающая очередь)': 'destination_project'})
    project_queue['destination_project'] = project_queue['destination_project'].fillna('DR')
    project_queue['Очередь'] = project_queue['Очередь'].fillna(0).astype('int').astype('str')
    project_queue['date'] = project_queue['date'].astype('str')

    project_queue['RN'] = project_queue.groupby(['Очередь', 'date']).cumcount() + 1
    project_queue = project_queue[project_queue['RN'] == 1][['Очередь', 'destination_project', 'date']]

    return project_queue

def project(row):
    if row['team_project'] == '0' and row['destination_project'] == '0':
        return row['proect']
    elif row['team_project'] == 'DR' and row['destination_project'] == '0':
        return row['proect']
    elif row['team_project'] == '0':
        return row['destination_project']
    elif row['team_project'] == 'DR':
        return row['destination_project']
    else:
        return row['team_project']

def organization(row):
    if row['team'] in ['4','12','50','13']:
        return 'КЦ'
        # return 'Лиды'
    elif row['team'] in ['8','123']:
        return 'КЦ'
    elif ' RO' in row['project']:
        return 'Just Robots'
    elif 'LIDS' in row['project']:
        return 'Лиды'
    elif 'Job' in row['project']:
        return 'Just Job'
    # elif row['queue'] in [9251,9251.0,'9251','9251.0']:
    #     return 'Just Job'
    else:
        return 'КЦ'

def step_perevod():
    path = '/root/airflow/dags/project_defenition/projects/steps'
    files = glob.glob(path + "/*.csv")
    steps = pd.DataFrame()
    n = 0
    num_of_files = len(os.listdir(path))
    print(f'Всего файлов {num_of_files}')

    for i in files:
        n += 1
        df = pd.read_csv(i)
        # steps = steps.append(df)
        steps = pd.concat([steps,df])
    del df

    steps['step'] = steps['step'].fillna(0).astype('int').astype('str')
    steps['ochered'] = steps['ochered'].fillna(0).astype('int').astype('str')
    steps['type_steps'] = steps['type_steps'].fillna(1).astype('int').astype('str')
    # steps.loc[(steps['step'].isin(['94', '91', '93'])) & (steps['ochered'] == '9078'), 'type_steps'] = '1'
    steps['date'] = pd.to_datetime(steps['date'])
    # steps['step'] = steps['step'].astype('int')

    steps['RN'] = steps.groupby(['step', 'ochered', 'date','type_steps']).cumcount() + 1
    steps = steps[steps['RN'] == 1][['step', 'ochered', 'date','type_steps']]
    steps = steps.drop_duplicates()

    return steps

def perevod(row):
    if row['step'] == '0':
        return row['perevod']
    elif row['type_steps'] == '1':
        return 1
    else:
        return 0

def lead(row):
    if row['step'] == '0':
        return row['lead']
    elif row['type_steps'] == '0':
        return 1
    else:
        return 0

In [7]:
def connect_db(file):
    dest = None
    print(file)
    if file == 'Maria_db':
        dest = '/root/airflow/dags/not_share/Maria_db.csv'
    elif file == 'cloud_117':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_117.csv'
    elif file == 'cloud_128':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_128.csv'
    elif file == 'cloud_182':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_182.csv'
    elif file == 'cloud_183':
        dest = '/root/airflow/dags/not_share/cloud_my_sql_183.csv'
    elif file == '72':
        dest = '/root/airflow/dags/not_share/Second_cloud_72.csv'
    elif file == 'Combat':
        dest = '/root/airflow/dags/not_share/Combat_server.csv'
    elif file == 'Click':
        dest = '/root/airflow/dags/not_share/ClickHouse.csv'
    # elif file == 'Click2':
    #     dest = '/root/airflow/dags/not_share/ClickHouse2.csv'
    elif file == 'Server_MySQL':
        dest = '/root/airflow/dags/not_share/Server_files_MySQL.csv'
    elif file == 'DBS':
        dest = '/root/airflow/dags/not_share/DBS.csv'
    else:
        print('cloud_183')
        print('Неизвестный сервер.')

    print(dest)

    if dest:
        with open(dest) as file:
            for now in file:
                now = now.strip().split('=')
                first, second = now[0].strip(), now[1].strip()
                if first == 'host':
                    host = second
                elif first == 'user':
                    user = second
                elif first == 'password':
                    password = second
        return host, user, password

In [60]:
import pandas as pd
df= pd.read_csv('/root/airflow/dags/fsp_new/files/Заявки.csv')
df.columns

Index(['proect', 'team', 'uid', 'fio', 'calldate', 'date_entered', 'status',
       'konva', 'tarif', 'department', 'marker', 'last_step', 'region',
       'region_c2', 'queue', 'destination_queue', 'network_provider',
       'organization', 'directory', 'inbound_call', 'city_c', 'trunk_id',
       'vsego'],
      dtype='object')

In [62]:
df[(df['queue'] == 9118) & (df['date_entered'] >= '2025-01-01') & (df['date_entered'] <= '2025-01-31')][['queue', 'trunk_id', 'proect']].groupby(['proect','trunk_id']).count()

                     queue
proect     trunk_id
DOMRU LIDS 0.0           1
MTS        0.0           1
NBN        0.0         287
           42.0          2
           64.0         36
NBN LIDS   0.0          13
           64.0          2
RTK LIDS   0.0           4

In [71]:
# import pandas as pd
# df= pd.read_csv('/root/airflow/dags/fsp_new/files/Заявки_номера.csv')


df[(df['last_queue_c'] == 9118) & (df['date_entered'] >= '2025-02-01') & \
   (df['date_entered'] <= '2025-02-28')][['last_queue_c', 'trunk_id', 'proect']].groupby(['proect','trunk_id']).count()

                   last_queue_c
proect   trunk_id
BEELINE  0.0                  1
NBN      0.0                  7
         42.0                 4
         64.0               287
NBN LIDS 64.0                21
RTK LIDS 0.0                  1

In [70]:
df[(df['last_queue_c'] == 9118) & (df['date_entered'] >= '2025-01-01') & \
   (df['date_entered'] <= '2025-01-31') & (df['trunk_id'] == 0.0) & (df['proect'] == 'NBN')][['phone_work', 'last_queue_c', 'proect', 'trunk_id', 'uid']]['phone_work'].unique()

array(['89373476351', '89236550511', '89271470704', '89268425618',
       '89232858534', '89202422447', '89324399337', '89278162753',
       '89312234338', '89825234474', '89236695252', '89271080128',
       '89613433135', '89375831566', '89271515834', '89379173911',
       '89232419501', '89304069418', '89203414144', '89237331959',
       '89603434180', '89243583273', '89279239020', '89264466749',
       '89374004370', '89247038368', '89231134496', '89261899479',
       '89293791553', '89272290669', '89272732261', '89237932374',
       '89243897037', '89292409235', '89215130065', '89304319527',
       '89204778588', '89373877595', '89268978784', '89374338353',
       '89231200192', '89121623871', '89272262838', '89109127406',
       '89285908887', '89271108962', '89651465608', '89876619962',
       '89271583156', '89233107620', '89268149158', '89108210843',
       '89363333576', '89274624973', '89290895565', '89302921464',
       '89365290063', '89300320707', '89370273922', '89378879880',
       '89203227465', '89278881707', '89203701535', '89083183972',
       '89303203030', '89236971676', '89231273993', '89260474096',
       '89271774957', '89233333221', '89273726225', '89300303133',
       '89253699332', '89372663328', '89124297526', '89207027179',
       '89208734195', '89375118422', '89872539682', '89174358687',
       '89501390058', '89203756058', '89272769169', '89226602603',
       '89270960007', '89603726773', '89203832124', '89278593570',
       '89378539595', '89271200857', '89271039629', '89015954736',
       '89256310116', '89235944856', '89206732562', '89250669067',
       '89206713919', '89204695803', '89206556395', '89263992885',
       '89215834569', '89087843851', '89067640643', '89209890181',
       '89226207796', '89379611169', '89149057001', '89339934096',
       '89202333636', '89264117444', '89236795001', '89200575723',
       '89295413561', '89155316646', '89603723602', '89266420138',
       '89236899572', '89260217295', '89202025353', '89237430270',
       '89273290120', '89233634647', '89219527021', '89378073788',
       '89275963041', '89209199144', '89279991992', '89511332747',
       '89297968835', '89206548846', '89217976330', '89056964711',
       '89120259904', '89231177711', '89213416135', '89232335185',
       '89215548670', '89377567500', '89251849481', '89278115555',
       '89273535445', '89272263025', '89235658344', '89254865120',
       '89232270581', '89370208914', '89252246477', '89101360164',
       '89248349468', '89292427015', '89276262557', '89510942817',
       '89219701463', '89273094887', '89233918636', '89203350445',
       '89372666344', '89228558566', '89271395336', '89373817981',
       '89250966499', '89286682923', '89206704285', '89200829008',
       '89203987172', '89236523780', '89372565132', '89209810493',
       '89271919147', '89016695293', '89276493738', '89208476100',
       '89231768215', '89374075490', '89290181738', '89278673161',
       '89231693680', '89333318270', '89234281004', '89190854766',
       '89222541534', '89272264746', '89227647871', '89229225031',
       '89588353494', '89207267578', '89379749666', '89258503932',
       '89270509271', '89290234049', '89209090535', '89206054323',
       '89174733907', '89279710179', '89270580269', '89619494986',
       '89220565222', '89231367882', '89658000084', '89263633232',
       '89233903315', '89228094484', '89264943944', '89235860787',
       '89222213180', '89206502290', '89222222141', '89224093330',
       '89373836746', '89203520374', '89374005856', '89871344054',
       '89265356038', '89232834533', '89224042180', '89263535656',
       '89264121947', '89308418660', '89279276485', '89100402554',
       '89512832128', '89100837894', '89267155514', '89272219051',
       '89232222086', '89271439418', '89059892085', '89157751005',
       '89851707308', '89227849905', '89199720603', '89372677060',
       '89333115424', '89237356311', '89285979103', '89276205510',
       '89253666122', '89500890490', '89263151813', '89201244060',
       '89236961427', '89303549786', '89267379912', '89052152901',
       '89243873577', '89869790747', '89233162059', '89233163884',
       '89228551947', '89135873244', '89273499316', '89515802222',
       '89209199009', '89270569284', '89287737586', '89232774490',
       '89236421996', '89374407443', '89303429530', '89237196081',
       '89374714834', '89226208681', '89128275363', '89021460555',
       '89123562567', '89215005957', '89252895036', '89375178005',
       '89195343869', '89371201926', '89873482079', '89228266617',
       '89203009180', '89372579747', '89229559229', '89234541922',
       '89271002631', '89065301488', '89370202627', '89281248751',
       '89297556558', '89270558708', '89278632141', '89235050997',
       '89233331933', '89251502865', '89261913663', '89279790182'],
      dtype=object)

In [65]:
df.columns

Index(['last_queue_c', 'proect', 'team_x', 'uid', 'fio_x', 'date_entered',
       'status', 'konva', 'tarif', 'rtkid', 'phone_work', 'active_date',
       'city_c_x', 'town_c', 'module', 'department', 'id_x', 'fio_y', 'team_y',
       'supervisor', 'penalty_c', 'team', 'id_y', 'datecall',
       'assigned_user_id', 'phone', 'network_provider', 'ptv_c', 'region_c',
       'marker', 'last_step', 'queue', 'destination_queue', 'was_repeat',
       'inbound_call', 'city_c_y', 'region_c2', 'directory', 'trunk_id',
       'step', 'ochered', 'date', 'type_steps', 'RN', 'region', 'city_c',
       'queue_c', 'destination_queue_c', 'team_project', 'check_team_project',
       'project', 'organization'],
      dtype='object')

In [74]:
import pandas as pd


steps_sql = '/root/airflow/dags/fsp_new/SQL/steps.sql'
dialogi_sql = '/root/airflow/dags/fsp_new/SQL/dialogi.sql'
request_sql = '/root/airflow/dags/fsp_new/SQL/request.sql'




team_project = team_project_1()
team_project['date'] = team_project['date'].astype('str')
team_project['team'] = team_project['team'].astype('str')

sql_steps = open(steps_sql, 'r', encoding='utf8').read()
cloud = ['base_dep_slave', 'IyHBh9mDBdpg', '192.168.1.182', 'suitecrm']




print('steps')

steps = get_data_request(sql_steps, cloud)
steps2 = step_perevod()
steps = str(list(dict.fromkeys(steps.step.to_list()+steps2.step.to_list()))).strip('[]')


sql_dialogi = open(dialogi_sql, 'r', encoding='utf-8').read().format(steps)
print(sql_dialogi)

sql_part1 = open(request_sql, 'r', encoding='utf-8').read()


print('dialogi')

dialogi = get_data_request(sql_dialogi, cloud)
dialogi['datecall'] = pd.to_datetime(dialogi['datecall'])
dialogi['last_step'] = dialogi['last_step'].fillna(0).astype('int').astype('str')
dialogi['queue'] = dialogi['queue'].fillna(0).astype('int').astype('str')

dialogi = dialogi.merge(steps2, how = 'left', left_on = ['queue','last_step','datecall'], right_on = ['ochered', 'step', 'date']).fillna('0').query('step != "0"')
dialogi['RN'] = dialogi.sort_values(['datecall'], ascending=[True]).groupby(
    ['phone', 'assigned_user_id']).cumcount() + 1
dialogi = dialogi[dialogi['RN'] == 1]

print('meetings')



part1 = get_data_request(sql_part1, cloud)

Всего файлов 155
steps
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8
Всего файлов 155
select jc2.id,
       datecall,
       jc2.assigned_user_id,
       phone,
       network_provider,
       jc2.ptv_c,
       jc2.region_c,
       marker,
       last_step,
       queue,
       destination_queue,
       was_repeat,
       inbound_call,
       if(jc2.city_c is null or jc2.city_c in ('', 0), concat(jc2.town, '_t'), jc2.city_c) as city_c,
       case
           when (ptv_c like '%^3^%'
               or ptv_c like '%^5^%'
               or ptv_c like '%^6^%'
               or ptv_c like '%^10^%'
               or ptv_c like '%^11^%'
               or ptv_c like '%^19^%'
               or ptv_c like '%^14^%') then 'ptv_1'
           when (base_source_c like '%220%' or base_source_c like '%221%' or base_source_c like '%222%' or
                 base_source_c like '%223%' or base_source_c like '%224%') then 'bno'

           when base_source_c like '%63%' and region_c in (1, 3) then '63_1'
           when base_source_c like '%63%' and region_c in (2, 4, 5, 6, 7) then concat('63_', region_c)
           when base_source_c like '%63%' and (region_c is null or region_c in ('', ' ')) then '63_0'

           when base_source_c like '%62%' and region_c in (1, 3) then '62_1'
           when base_source_c like '%62%' and region_c in (2, 4, 5, 6, 7) then concat('62_', region_c)
           when base_source_c like '%62%' and (region_c is null or region_c in ('', ' ')) then '62_0'

           when base_source_c like '%60%' and region_c in (1, 3) then '60_1'
           when base_source_c like '%60%' and region_c in (2, 4, 5, 6, 7) then concat('60_', region_c)
           when base_source_c like '%60%' and (region_c is null or region_c in ('', ' ')) then '60_0'

           when base_source_c like '%61%' and region_c in (1, 3) then '61_1'
           when base_source_c like '%61%' and region_c in (2, 4, 5, 6, 7) then concat('61_', region_c)
           when base_source_c like '%61%' and (region_c is null or region_c in ('', ' ')) then '61_0'

           else region_c end                                                                  region_c2,
#        city_c,
       directory,
       trunk_id
#        if(datecall < '2023-04-01',city_c,city) as city_c
from (select distinct jc.uniqueid                                                                    id,
                      DATE(jc.call_date)                                                             datecall,
                      jc.assigned_user_id,
                      jc.phone,
                      jc.city_c,
                      jc.town,
                      if(jc.city_c is null or jc.city_c = '', concat(cm.town_c, '_t'), jc.city_c) as city,
                      case
                          when jc.network_provider_c = '83' then 'МТС'
                          when jc.network_provider_c = '80' then 'Билайн'
                          when jc.network_provider_c = '82' then 'Мегафон'
                          when jc.network_provider_c = '10' then 'Теле2'
                          when jc.network_provider_c = '68' then 'Теле2'
                          else 'MVNO'
                          end                                                                        network_provider,
                      jc.ptv_c,
                      jc.region_c,
                      jc.marker,
                      jc.last_step,
                      queue,
                      destination_queue,
                      was_repeat,
                      inbound_call,
                      jc.base_source_c,
                      directory,
                      trunk_id
      from (select uniqueid,
                   call_date,
                   assigned_user_id,
                   phone,
                   city_c,
                   town,
                   network_provider_c,
                   ptv_c,
                   region_c,
                   marker,
                   last_step,
                   REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
                   was_repeat,
                   inbound_call,
                   directory,
                   trunk_id,
                   base_source_c
            from suitecrm_robot.jc_robot_log
            WHERE date(call_date) >= '2025-01-01'
              and jc_robot_log.assigned_user_id not in ('1', '')
       --      union all
       --      select uniqueid,
       --             call_date,
       --             assigned_user_id,
       --             phone,
       --             city_c,
       --             town,
       --             network_provider_c,
       --             ptv_c,
       --             region_c,
       --             marker,
       --             last_step,
       --             REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
       --             was_repeat,
       --             inbound_call,
       --             directory,
       --             trunk_id,
       --             base_source_c
       --      from suitecrm_robot.jc_robot_log_2024_09 jc1
       --      WHERE jc1.assigned_user_id not in ('1', '')
            union all
            select uniqueid,
                   call_date,
                   assigned_user_id,
                   phone,
                   city_c,
                   town,
                   network_provider_c,
                   ptv_c,
                   region_c,
                   marker,
                   last_step,
                   REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
                   was_repeat,
                   inbound_call,
                   directory,
                   trunk_id,
                   base_source_c
            from suitecrm_robot.jc_robot_log_2024_12 jc2
            WHERE jc2.assigned_user_id not in ('1', '')
       --      union all
       --      select uniqueid,
       --             call_date,
       --             assigned_user_id,
       --             phone,
       --             city_c,
       --             town,
       --             network_provider_c,
       --             ptv_c,
       --             region_c,
       --             marker,
       --             last_step,
       --             REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
       --             was_repeat,
       --             inbound_call,
       --             directory,
       --             trunk_id,
       --             base_source_c
       --      from suitecrm_robot.jc_robot_log_2024_11 jc3
       --      WHERE jc3.assigned_user_id not in ('1', '')
       --      union all
       --      select uniqueid,
       --             call_date,
       --             assigned_user_id,
       --             phone,
       --             city_c,
       --             town,
       --             network_provider_c,
       --             ptv_c,
       --             region_c,
       --             marker,
       --             last_step,
       --             REGEXP_REPLACE(dialog, '[^0-9]', '')                                                 as queue,
       --             was_repeat,
       --             inbound_call,
       --             directory,
       --             trunk_id,
       --             base_source_c
       -- --      from suitecrm_robot.jc_robot_log_2024_10 jc3
       --      WHERE jc3.assigned_user_id not in ('1', '')
            union all
            SELECT robot_log_id         uniqueid,
                   call_date,
                   operator_id      assigned_user_id,
                   phone,
                   city             city_c,
                   region           town,
                   network_provider network_provider_c,
                   ptv              ptv_c,
                   quality          region_c,
                   marker,
                   last_step,
                   robot_id         queue,
                   was_ptv          was_repeat,
                   direction        inbound_call,
                   voice            directory,
                   trunk_id,
                   base_source      base_source_c
            FROM suitecrm_robot.robot_log
                     left join suitecrm_robot.robot_log_addition on robot_log.id = robot_log_addition.robot_log_id
            WHERE date(call_date) >= '2025-01-01'
              and robot_log_addition.operator_id not in ('1', '')
           ) jc
               left join suitecrm.contacts c on c.phone_work = jc.phone
               left join suitecrm.contacts_cstm cm on cm.id_c = c.id
               left join (select distinct *
                          from suitecrm.transferred_to_other_queue
                          union all
                          select robot_id     dialog,
                                 transfer     destination_queue,
                                 call_date    date,
                                 robot_log_id uniqueid,
                                 phone
                          FROM suitecrm_robot.robot_log
                                   left join suitecrm_robot.robot_log_addition
                                             on robot_log.id = robot_log_addition.robot_log_id
                          where transfer is not null
                            and transfer != '') tr on jc.uniqueid = tr.uniqueid and tr.phone = jc.phone
      WHERE

jc.assigned_user_id not in ('1', '')) jc2


where last_step in ('803', '804', '806', '807', '801', '812', '813', '819', '811', '805', '814', '802', '810', '91', '95', '762', '766', '773', '770', '381', '771', '765', '93', '774', '97', '761', '772', '764', '767', '763', '81', '89', '779', '92', '96', '94', '99', '2', '98', '56', '705', '703', '701', '713', '714', '711', '704', '719', '710', '712', '702', '706', '707', '84', '86', '87', '80', '82', '732', '731', '733', '727', '734', '726', '723', '730', '725', '722', '724', '721', '739', '90', '787', '785', '751', '744', '794', '781', '746', '754', '753', '340', '742', '782', '745', '752', '790', '345', '747', '792', '750', '741', '784', '791', '743', '793', '786', '350', '759', '799', '783', '85', '63', '55', '61', '57', '67', '65', '71', '69', '73', '59', '75', '79', '77', '83', '51', '53', '260', '505', '507', '514', '504', '502', '513', '519', '512', '501', '511', '510', '503', '506', '88', '999', '832', '831', '836', '843', '844', '833', '834', '835', '841', '842', '837', '840', '849', '41', '49', '239', '237', '238', '242', '76', '240', '241', '193', '234', '236', '191', '233', '235', '384', '380', '385', '383', '382', '386', '35', '33', '34', '7', '8', '23', '16', '17', '25', '24', '13', '103', '104', '72', '984', '963', '987', '960', '990', '966', '1000', '978', '981', '957', '975', '993', '972', '996', '969', '29', '28', '5', '102', '105', '109', '599', '988', '595', '101', '27', '20', '38', '68', '78', '243')

dialogi
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8

Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 803, in _write_bytes
    self._sock.sendall(data)
ConnectionResetError: [Errno 104] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 763, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/pool/base.py", line 1038, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 487, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 861, in _execute_command
    self._write_bytes(packet)
  File "/usr/local/lib/python3.8/dist-packages/pymysql/connections.py", line 806, in _write_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionResetError(104, 'Connection reset by peer'))")

meetings
mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8

In [75]:
team_sql = '/root/airflow/dags/fsp_new/SQL/team.sql'
team_sql = open(team_sql, 'r', encoding='utf-8').read()
teams = get_data_request(team_sql, cloud).fillna('')

part1 = part1.merge(teams, how = 'left', left_on = 'uid', right_on = 'id')

def team_y(row):
    if row['team_x'] == '':
        
        return row['team_y']
    else:
        return row['team_x']
        
def city_c(row):
    if row['city_c_y'] == 0.0:
        return row['city_c_x']
    else:
        return row['city_c_y']

part1['team'] = part1.apply(lambda row: team_y(row), axis=1)



konva = part1.merge(dialogi, how='left', left_on=['uid', 'phone_work'], right_on=['assigned_user_id', 'phone'])

mysql+pymysql://base_dep_slave:IyHBh9mDBdpg@192.168.1.182/suitecrm?charset=utf8

In [76]:
part1['date_entered'] = part1['date_entered'].astype(str)
part1[(part1['last_queue_c'] == '9118') & (part1['date_entered'] >= '2025-01-01') & (part1['date_entered'] <= '2025-01-31')][['phone_work', 'uid', 'proect']]

         phone_work                                   uid      proect
48531   89991705927  3d993571-89f7-126c-c767-66ec1f2cd195    RTK LIDS
80909   89992570299  3e55f70e-0a05-639c-4a96-615eee14f2ca    RTK LIDS
159702  89205606660  1d2d0093-b3ed-ee9b-42ac-6720a6b910ce    RTK LIDS
174225  89253104972  993251e5-45e6-8030-a802-675c3deffbd8    RTK LIDS
212419  89234368996  33f3b2dc-1d37-a430-37ba-66bb2486531f  DOMRU LIDS
...             ...                                   ...         ...
253489  89373199691  1b79bed3-7f1c-b0e4-03ed-64f6ec5d2e00         NBN
253499  89261913663  918d54fe-0ed9-ce67-4b33-5e6f72668ff5         NBN
253512  89279790182  8f6cc1e1-e716-863a-b7c7-66e7ec2c3eb6         NBN
253555  89246023444  918d54fe-0ed9-ce67-4b33-5e6f72668ff5         NBN
279362  89209448085  83e613b1-5e88-84df-6a45-5dc2734ed56f         MTS

[355 rows x 3 columns]

In [40]:
dialogi[(dialogi['assigned_user_id'] == '3e55f70e-0a05-639c-4a96-615eee14f2ca') & (dialogi['phone'] == '89992570299')][['datecall', 'queue', 'trunk_id']]

Empty DataFrame
Columns: [datecall, queue, trunk_id]
Index: []

In [46]:
dialogi[(dialogi['phone'] == '89373199691')][['datecall', 'queue', 'trunk_id']]

        datecall queue trunk_id
77646 2025-01-20  9118

In [77]:
konva = part1.merge(dialogi, how='left', left_on=['uid', 'phone_work'], right_on=['assigned_user_id', 'phone'])
konva['trunk_id'] = konva['trunk_id'].fillna('0')
konva['queue'] = konva['queue'].fillna('0')

konva[(konva['queue'] == '9118') & (konva['datecall'] >= '2025-01-01') & (konva['datecall'] <= '2025-01-31')][['queue', 'trunk_id']].groupby('trunk_id').count()

          queue
trunk_id
42.0          2
64.0         40
              2

In [ ]:
konva['date'] = konva['date_entered']
konva['datecall'] = konva['datecall'].fillna(0)
konva['date'] = konva.apply(lambda row: date_1(row), axis=1)

konva['region_c'] = konva['region_c'].fillna(0).astype('int')
konva['region'] = konva['region_c'].astype('str')

konva['ptv_c'] = konva['ptv_c'].fillna('^0^')
konva['region'] = konva.apply(lambda row: region(row), axis=1)
konva = konva.fillna(0)
konva['city_c'] = konva.apply(lambda row: city_c(row), axis=1)


konva[['destination_queue', 'queue', 'last_queue_c']] = konva[['destination_queue', 'queue', 'last_queue_c']].fillna(0)
konva['queue_c'] = konva.apply(lambda row: queue(row), axis=1)
konva['destination_queue_c'] = konva.apply(lambda row: destination_queue(row), axis=1)

konva['date'] = konva['date'].astype('str').apply(lambda x: x.replace(' 00:00:00',''))
konva['team'] = konva['team'].astype('str')
konva = konva.merge(team_project, how='left', on=['date', 'team'])
konva['team_project'] = konva['team_project'].fillna('0')

konva['check_team_project'] = konva.apply(lambda row: check_team_project(row), axis=1)

konva['project'] = konva.apply(lambda row: meet_proect_final(row), axis=1)


konva['organization'] = konva.apply(lambda row: organization(row), axis=1)


# sql_log = open(voronka_sql, 'r', encoding='utf8').read()

# log = load_mysql.get_data_request(sql_log, cloud).drop_duplicates()

# log_full = log.merge(konva, how='left', left_on='parent_id', right_on='rtkid')[['parent_id', 'date_created', 'status_before', 'status_after',
#     'date_before', 'date_after', 'project', 'team', 'uid', 'fio_x', 'date', 'date_entered', 'status', 'konva', 'tarif',
#                             'marker', 'last_step', 'region','region_c2', 'queue_c', 'destination_queue_c',
#                             'network_provider','organization','directory','trunk_id',
#                             'city_c']].rename(
#     columns={'date': 'calldate',
#             'fio_x': 'fio',
#             'queue_c': 'queue',
#             'destination_queue_c': 'destination_queue',
#             'project': 'proect'})
# log_full['rn'] = log_full.sort_values('date_created').groupby(['parent_id']).cumcount() + 1
# log_path = '/root/airflow/dags/liza_test/Files/Воронка рекрутинга.csv'
# log_full.to_csv(log_path, index=False)
# dbs_log = 'scripts fsp\Current Files\Воронка рекрутинга.csv'

# dbs.save_file_to_dbs(log_path, dbs_log)


konva_group = konva.groupby(['project', 'team', 'uid', 'fio_x', 'date', 'date_entered', 'status', 'konva', 'tarif',
                            'department', 'marker', 'last_step', 'region','region_c2', 'queue_c', 'destination_queue_c',
                            'network_provider','organization','directory','inbound_call',
                            'city_c','trunk_id'], as_index=False, dropna=False).agg({'rtkid': 'count'}).rename(
    columns={'rtkid': 'vsego',
            'date': 'calldate',
            'fio_x': 'fio',
            'queue_c': 'queue',
            'destination_queue_c': 'destination_queue',
            'project': 'proect'})


# konva.to_csv(konva_path, index=False) 
# konva_group.to_csv(konva_group_path, index=False)
# dbs.save_file_to_dbs(konva_path, to_dbs_konva)
# dbs.save_file_to_dbs(konva_group_path, to_dbs_konva_group)

In [ ]:
konva_group[(konva_group['queue'] == '9118') & (konva_group['calldate'] >= '2025-01-01') & \
            (konva_group['calldate'] <= '2025-01-31')][['queue', 'trunk_id','vsego']].groupby('trunk_id')[['vsego']].sum()

          vsego
trunk_id
42.0          2
64.0         40
              2

In [18]:
konva_group

,proect,team,uid,fio,calldate,date_entered,status,konva,tarif,department,...,region_c2,queue,destination_queue,network_provider,organization,directory,inbound_call,city_c,trunk_id,vsego
0,BEELINE,,e90bbe6b-5d92-b686-32f9-58417f4e69fa,Sergey Sofronchuk,2024-04-26,2024-04-26,Created,2,shpd,,...,0,0,9061,0,КЦ,0,0.0,915,0,1
1,BEELINE,,e90bbe6b-5d92-b686-32f9-58417f4e69fa,Sergey Sofronchuk,2025-02-24,2024-04-26,Created,2,shpd,,...,ptv_1,9272,21001,Билайн,КЦ,directory_236,0.0,480,,1
2,BEELINE,12,14064e95-f311-1ce9-df14-6226f909ce74,я_12 Тамара Ануфриева,2024-04-22,2024-04-22,Active,1,konvergent,55_m,...,0,0,9018,0,КЦ,0,0.0,647,0,1
3,BEELINE,12,14064e95-f311-1ce9-df14-6226f909ce74,я_12 Тамара Ануфриева,2024-04-27,2024-04-27,Active,1,konvergent,55_m,...,0,0,9081,0,КЦ,0,0.0,1141,0,1
4,BEELINE,12,279d947a-8a69-a6a8-8147-5d274937cc1c,12 Мария Калимуллина,2024-05-28,2024-05-28,Active,1,shpd,,...,0,0,9224,0,КЦ,0,0.0,711,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336449,Этажи,778,d4c4acfe-21ad-ce3f-1f6a-6606b97224fb,я_778 Анастасия Отрещенко,2024-10-17,2024-10-17,failure,0,ne_vybran,55_m,...,0,0,9009,0,КЦ,0,0.0,480,0,1
336450,Этажи,778,d4c4acfe-21ad-ce3f-1f6a-6606b97224fb,я_778 Анастасия Отрещенко,2024-11-07,2024-11-07,,0,ne_vybran,18_m,...,0,0,9009,0,КЦ,0,0.0,480,0,1
336451,Этажи,778,d4c4acfe-21ad-ce3f-1f6a-6606b97224fb,я_778 Анастасия Отрещенко,2024-11-12,2024-11-12,failure,0,ne_vybran,,...,0,0,9009,0,КЦ,0,0.0,480,0,1
336452,Этажи,778,d4c4acfe-21ad-ce3f-1f6a-6606b97224fb,я_778 Анастасия Отрещенко,2024-11-21,2024-11-21,Created,2,ne_vybran,,...,0,0,9009,0,КЦ,0,0.0,480,0,2
336453,Этажи,778,d4c4acfe-21ad-ce3f-1f6a-6606b97224fb,я_778 Анастасия Отрещенко,2024-11-25,2024-11-25,Created,2,ne_vybran,,...,0,0,9009,0,КЦ,0,0.0,480,0,2